[Unit]
Description=Display manager setup service
Requires=enlightenment.service
After=enlightenment.service

[Service]
Type=oneshot
ExecStart=/usr/bin/touch /tmp/.X.done

[Install]
WantedBy=graphical.target
