[Unit]
Description=Xorg display daemon

[Service]
#User=display
Restart=always
RestartSec=10
Type=forking
ExecStart=/usr/bin/Xorg -logfile /var/log/Xorg.0.log -noreset -configdir /etc/X11/xorg.conf.d
#StandardInput=tty
#TTYPath=/dev/tty7

#adding the capability to configure ttys
#may be needed if the user 'display' doesn't own the tty
#CapabilityBoundingSet=CAP_SYS_TTY_CONFIG 

[Install]
WantedBy=graphical.target
