[Unit]
Description=Xorg display daemon
Requires=dbus.service
After=dbus.service

[Service]
Type=notify
Restart=always
RestartSec=10
EnvironmentFile=-/etc/sysconfig/xorg
ExecStart=/usr/bin/xorg-launch-helper $OPTIONS
StandardInput=tty
TTYPath=/dev/tty7

[Install]
WantedBy=graphical.target
